#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.dark-background {
  background-color:gray;
}

.light-background {
  background-color:lightgray;

}

.highlight{
  border: 2px solid red;
}
